.header {
    @apply
    flex
    justify-center
    bg-emerald-500
    text-white
    p-2
    drop-shadow-md
    sm:p-3;

    &__container {
        @apply
        flex
        justify-between
        items-center

        w-full;
    }

    &__brand {
        @apply
        flex
        items-center
        gap-2
        ;
    }

    &__icon {
        @apply
        aspect-square
        w-8
        sm:w-12
        ;
    }

    &__title {
        @apply
        pb-1
        font-bold
        text-xl
        sm:text-2xl;
    }

    &__cart {
        @apply
        relative
        sm:text-2xl
        no-underline
        sm:pt-0.5
        sm:pb-1
        sm:px-3
        px-2
        pb-0.5
        border-2
        border-white
        rounded-3xl
        cursor-pointer;
        transition: background-color .3s ease;

        &::after {
            content: "";
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all .3s ease;
            @apply
            absolute
            block
            aspect-square
            opacity-20
            rounded-full
            bg-white
            w-0
            h-0
            ;
        }

        &:active {
            @apply
            bg-emerald-600;
        }

        &:hover::after {
            width: 100%;
            height: 100%;
        }

        span {
            @apply
            absolute
            block
            border-2
            border-white
            flex
            overflow-hidden
            sm:w-7
            w-5
            justify-center
            items-center
            aspect-square
            text-base
            -top-2.5
            -right-2
            sm:p-1
            p-0.5
            rounded-full
            bg-orange-300
            text-white
                text-xs
                sm:text-base
            transition-all
            z-10
            ;
        }
    }
}
