@tailwind base;
@tailwind components;
@tailwind utilities;

@import "header";
@import "footer";
@import "welcome_content";
@import "card_content";


* {
    @apply
    font-nunito
    ;
}

body {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto min-content;
}

#scrollbar-custom {
    scroll-behavior: smooth;
}

div#vanilla-toast-container {
    @apply
    flex
    items-end
}

div#vanilla-toast {
    @apply
    px-4
    py-2
    rounded-md
    bg-emerald-500
    mb-3
    ml-3
}
